.items-list{
  overflow-y: hidden;
  box-shadow: 0 0 30px 10px #00000073;
  display: grid;
  grid: 70px / auto;
}
.items-list-header{
  display: grid;
  grid: auto / auto 50px;
  padding-left: 20px;
}
.items-list-title{
  margin: 0;
  text-align: left;
}
.items-list-button{
  grid-row: 1 / span 2;
  grid-column: 2;
}
.items-list-seachbar{
  grid-row: 2;
  text-align: left;
}
.items-list-content{
  display: grid;
  overflow-y: scroll;
  grid: auto / auto;
  gap: 5px;
  margin: 10px;
}
